<% provide(:title, "New Practice Plan") %>
<h1>New Practice Plan</h1>

<div class="row">
<form class="form-horizontal">

<div class="col-xs-12">
	<div class="form-group col-xs-3 col-md-2">
		<label for="Date">Date</label>
		<input type="text" class="form-control" id="date" placeholder="10/13/2015">
	</div>
</div>

<div class="col-xs-12">
	<div class="form-group col-xs-2">
		<label for="startTime">Start Time</label>
		<input type="text" class="form-control" id="startTime" placeholder="3:30 PM">
	</div>
</div>

<div class="col-xs-12">
	<div class="form-group col-xs-5">
		<label for="description">Description</label>
		<input type="text" class="form-control" id="description" placeholder="Tuesday Practice - Rivalry Week">
	</div>
</div>

<div class="col-xs-12">
		<%= link_to "Create Practice Plan", 'viewpracticeplan', class:"btn btn-success" %><%= link_to "cancel", '/', class:"btn" %>
	
</div>

</form>
</div>