<div>
<h1>Past Practice Plans</h1>
<table class="table table-striped table-hover">
	<thead>
		<th style="width:15%">Date</th>
		<th style="width:15%">Start Time</th>
		<th>Description</th>
		<!--<th></th>-->
	</thead>
	<tbody>
		<% if @practice_plans.empty? %>
			<tr>
				<td colspan="4">Empty!</td>
			</tr>
		<% else %>
			<%= render @practice_plans %>
		<% end %>
	</tbody>
</table>
</div>