<div class="row">
	<div class="col-xs-2">
	</div>
	<div class="col-xs-8">
		<h1>My Practice Plans</h1>
	</div>
	<div class="col-xs-2" style="margin-top:27px;">
		<%= link_to "New Practice Plan", new_practice_plan_path, class:"btn btn-success pull-right" %>
	</div>
</div>

<div id="pastPracticePlans">
<h4>Recent</h4>
<table class="table table-striped table-hover">
	<thead>
		<th style="width:15%">Date</th>
		<th style="width:15%">Start Time</th>
		<th>Description</th>
		<!--<th></th>-->
	</thead>
	<tbody>
		<% if @past_plans.empty? %>
			<tr>
				<td colspan="4">Empty!</td>
			</tr>
		<% else %>
			<%= render @past_plans %>
		<% end %>
			<tr>
				<td colspan="4"><%= link_to "view all recent practice plans", history_practice_plans_path %></td>
			</tr>
	</tbody>
</table>
</div>

<div>
<h4>Upcoming</h4>
<table class="table table-striped table-hover">
	<thead>
		<th style="width:15%">Date</th>
		<th style="width:15%">Start Time</th>
		<th>Description</th>
		<!--<th></th>-->
	</thead>
	<tbody>
		<% if @practice_plans.empty? %>
			<tr>
				<td colspan="4">Empty!</td>
			</tr>
		<% else %>
			<%= render @practice_plans %>
		<% end %>
	</tbody>
</table>
</div>

